<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unique.app.adssan">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_round"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ActivitySplash"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".SmsReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ActivityMain"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivitySignUp"
            android:label="SIGNUP"
            android:noHistory="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityOTP"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivitySubject"
            android:label="SUBJECTS"
            android:noHistory="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityChapters"
            android:label="CHAPTERS"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityQuestions"
            android:label="QUESTIONS"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ScoreActivity"
            android:label="Your score"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity android:name=".ScoreView" />
        <activity
            android:name=".AboutAuthor"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ContactusActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Rating"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SelectPart"
            android:label="Select Part"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SelectType"
            android:label="Select"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivitySignUp2"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AboutApp"
            android:label="About the App"
            android:screenOrientation="portrait" />
        <activity android:name=".EditorialBoard"
            android:label="EDITORIAL BOARD"/>
    </application>

</manifest>